@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&display=swap');


body{
    background-image: linear-gradient(to bottom, #140d35 0%, #0e0925 33%, #080515 66%, #020105 100%);
    font-family:"Open Sans" ;
}


header{
    display: grid;
    grid-template-columns: 80px 1fr;

}
header img{
    width: 100%;

}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-image: linear-gradient(to bottom, #0a0e3f, #0047ab);
    padding: 23px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 400px;
}

.mainp {
    font-size: 21px;
    font-family: Italic;
    grid-row: 2;
    grid-column: 3;
    position: relative;
    top: 100px;
    color: aliceblue;
    margin-bottom: 55px;
    margin-top: 20px;
}

/* word boxes */
.you-box{
    grid-row: 3;
    grid-column: 1;
    position: relative;
    top: 275px;
    left: 100px;
    z-index: 2;
    height: fit-content;
}
.are-box{
    grid-row: 3;
    grid-column: 2;
    position: relative;
    top: 275px;
    left: 100px;
    z-index: 2;
    height: fit-content;
}
.amazing-box{
    grid-row: 3;
    grid-column:3;
    position: relative;
    top: 275px;
    left: 100px;
    z-index: 2;
    height: fit-content;
}

.image1 {
    width: 100%; /* Ensure the image fills the grid cell */
    height: 100%; /* Maintain aspect ratio */
    grid-column: 1 / 4; /* Spanning the first column */
    grid-row: 1; /* Occupy the first row */
    
}
.image1 img{
    grid-column: 3;
    
}

.image2 {
    max-width: 250px;
    height: auto;
    grid-column: 1; /* Spanning the first column */
    grid-row: 2; /* Occupy the first row */
    position: relative;
    top: 100px;
    border-radius: 5px;
    border: 2px solid white;
    margin-bottom: 50px;
    margin-top: 20px;
}


.square1{
    max-width: 300px;
    grid-column: 1;
    grid-row: 3;
    position: relative;
    top:130px;
    z-index: 1;
} 
.square2{
    max-width: 300px;
    grid-column: 2;
    grid-row: 3;
    position: relative;
    top:130px;
} 
.square3{
    max-width: 300px;
    grid-column: 3;
    grid-row: 3;
    position: relative;
    top:130px;
}
/* .li{
    color: aliceblue;
} */
a{
    color: aliceblue;
}
li{
    color: aliceblue;
}

.square1, .square2, .square3{
    border-radius: 5px;
    border: 5px solid aliceblue;
    display:flex;
    flex-direction: row-reverse;
}
.nav2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: linear-gradient(to bottom, #0a0e3f, #0047ab);
    padding: 30px;
}
.hero{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr 1fr;
}
.hero p{
    background-image: linear-gradient(to bottom, #0a0e3f, #0047ab);
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px solid aliceblue;
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
    color: white;
}
.hero img{
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.square1:hover,.square2:hover, .square3:hover {
opacity: .6;
transform: scale(1.1);
}


.square1, .square2, .square3 {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.hero p:hover{
    opacity: .6;
    transform: scale(1.1);
}
 
.third{
    position: relative;
    right: 40px;
}
/* .third{
    margin-right: 40px;
} */
.bookingapt{
    grid-column: 1;
}