@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&display=swap');


.mainp{
    font-family: 'Open Sans';
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&display=swap');


body{
    background-image: linear-gradient(to bottom, #140d35 0%, #0e0925 33%, #080515 66%, #020105 100%);
    font-family:"Open Sans" ;
 
}


header{
    display: grid;
    grid-template-columns: 80px 1fr;

}
header img{
    position: relative;
    top:20px;
    width: 85px;
    height: 85px;
    

}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-image: linear-gradient(to bottom, #0a0e3f, #0047ab);
    padding: 23px;
}






/* word boxes */






/* .li{
    color: aliceblue;
} */
a{
    color: aliceblue;
}
li{
    color: aliceblue;
}



.nav2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: linear-gradient(to bottom, #0a0e3f, #0047ab);
    padding: 30px;
}

 
.third{
    position: relative;
    right: 40px;
}
/* .third{
    margin-right: 40px;
} */


/* kKJDfkjdfjdfkjdf */


.page-container{
    display: grid;
    grid-template-columns:1fr 1fr auto 1fr 1fr ;
    grid-template-rows: auto 100px auto 1fr;
}

.image1 {
    width: auto; /* Ensure the image fills the grid cell */
    height: auto; /* Maintain aspect ratio */
    grid-column: 1 ; /* Spanning the first column */
    grid-row: 3; /* Occupy the first row */
    border: 2px solid white;
    max-width: 250px;
    height: auto;
    border-radius: 5px;
    
}


.image2 {
    max-width: auto;
    height: auto;
    grid-column: 5; /* Spanning the first column */
    grid-row: 3; /* Occupy the first row */
 
    border-radius: 5px;
    border: 2px solid white;
    margin-bottom: 50px;
 
    max-width: 250px;
    height: auto;
}
.mainp {
    font-size: 21px;
    font-family: Italic;
    grid-row: 4;
    grid-column: 5;
    position: relative;

    color: aliceblue;
    margin-bottom: 55px;
    margin-top: 20px;
    
    white-space: pre-wrap;
    position: relative;
    
    bottom: 20px;
    right: 34px;
     
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px;
}
/* .page-container p{
    grid-column: 1;
    grid-row: 4;
    color: white;
    position: relative;
    left: 10px;
    bottom: 40px;
    white-space: pre-wrap;
} */
.p1{
    white-space: pre-wrap;
    position: relative;
    bottom: 65px;
    left: 6px;
    color: white;
    grid-row: 4;
    grid-column: 1;

}
.words p{
    color:white;
}
.process {
    color: white;

    position: relative;
    top: 40px;
    right: 13px;
    
}
p ul{
  color: white;  
}
.nav {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
.words{
    grid-row: 4;
    grid-column: 1;
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px;
}
  
  /* Style the header links */
  .nav a {
    float: left;
    color: rgb(247, 244, 244);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .nav a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .nav a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  .logo{
    max-width: 1000px;
  }
 
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  /* footer */

  .nav {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .nav a {
    float: left;
    color: rgb(247, 244, 244);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .footer a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  footer a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  footer a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .footer-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .footer a {
      float: none;
      display: block;
      text-align: left;
    }
    .footer-right {
      float: none;
    }
  }